* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(127, 244, 255);
}

/* CREO CONTAINER */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* CREO RIGA HEADER*/
.row-3 {
    padding: 20px 0px;
    display: flex;
}

/* CREO COLONNE DENTRO LA RIGA IN QUESTO CASO 3 */
.col-20 {
    width: 20%;
    background-color: rgb(255, 225, 0);
    padding: 5px;
}

.col-60 {
    width: 60%;
    background-color: rgb(255, 225, 0);
    padding: 5px;
}


/* INIZIO SECONDA PARTE ESERCIZIO */
.background-blue {
    background-color: blue;
}

/* CREO CONTAINER PICCOLO */
.small-container {
    max-width: 900px;
    margin: 0 auto;
}


/* CREO COLONNA INTERNA ALLA RIGA */
.col-100-1 {
    height: 400px;
    background-color: rgb(252, 122, 143);
}

/* FINE PARTE 2 */

/* INIZIO PARTE 3 */
/* CREO RIGA CON 2 COLONNE INTERNE */
.row-2 {
    display: flex;
}

/* COLONNA 60% */
.col-60-3 {
    height: 600px;
    width: 60%;
    background-color: rgb(46, 170, 241);
}

/* COLONNA 40% */
.col-40 {
    height: 600px;
    width: 40%;
    background-color: pink;
}

/* FINE PARTE 3 */

/*  INIZIO PARTE 4 */
.background-gray {
    background-color: rgba(128, 128, 128, 0.34);
}

/* FINE PARTE 4 */

/* INIZIO PARTE 6 */
/* CREO COLONNA 100% NUMERO 2 */
.col-100-2 {
    height: 900px;
    background-color: rgb(0, 133, 0);
}

/* FINE PARTE 6 */

/* INIZIO PARTE 7 */
.background-dark {
    background-color: rgba(32, 32, 32, 0.726);
}

/* CREO RIGA CON 5 COLONNE */
.row-5 {
    display: flex;
}

/* 1 COLONNA CHE OCCUPA 2 FLEX GROW (2 VOLTE TANTO RISPETTO LE ALTRE) */
.col-5-p {
    flex-grow: 2;
    height: 600px;
    background-color: rgb(222, 91, 113);
}

/* 4 COLONNE CHE OCCUPANO LO SPAZIO RESTANTE SUDDIVIDENDOLO GRAZIE AL FLEX-GROW 1*/
.col-5-b {
    flex-grow: 1;
    height: 600px;
    background-color: rgb(46, 170, 241);
}

/* FINE PARTE 7 */

/* INIZIO PARTE 8 */
/* CREO FOOTER */
footer {
    border-top: 2px solid white;
}

/* CREO RIGA E LA MODELLO */
.row-1 {
    display: flex;
    background-color: aquamarine;
    justify-content: space-between;
    padding: 10px;
}

.stile-btn {
    background-color: rgb(222, 91, 113);
    padding: 5px 15px;
    border: 2px dashed black;
}

/* FINE PARTE 8 */


/* UTILITY */
/* BORDERS */
.left-b {
    border-left: 2px dashed black;
    ;
}

.right-b {
    border-right: 2px dashed black;
    ;
}

.top-b {
    border-top: 2px dashed black;
}

.bottom-b {
    border-bottom: 2px dashed black;
    ;
}

.left-b-w {
    border-left: 2px dashed white;
}

.right-b-w {
    border-right: 2px dashed white;
    ;
}

.top-b-w {
    border-top: 2px dashed white;
}

.bottom-b-w {
    border-bottom: 2px dashed white;
    ;
}

/* TEXT ALLIGNEMENT */
.center-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-text {
    align-items: center;
    padding-left: 10px;
}

.right-text {
    text-align: right;
    align-items: center;
    padding-right: 10px;
}

/* PADDING TOP AND BOTTOM 50PX */
.py-50 {
    padding: 50px 0;
}

/* PADDING TOP AND BOTTOM 15 / 30PX */
.py-15-30 {
    padding-top: 15px;
    padding-bottom: 30px;
}

/* PADDING TOP 30PX */
.py-30-t {
    padding-top: 30px;
}