* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(127, 244, 255);
}
/* CREO CONTAINER */
.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    
}
/* CREO RIGA */
.row {
    margin: 20px 0px 20px 0px;
    display: flex;
    width: 100%;
    align-items: center;
}
/* CREO COLONNE DENTRO LA RIGA IN QUESTO CASO 3 */
.col-20 {
    width: 20%;
    background-color: rgb(255, 225, 0);
    height: 40px;
    border: 2px dashed black;
}

.col-60 {
    width: 60%;
    height: 40px;
    background-color: rgb(255, 225, 0);
    border-top: 2px dashed black;
    border-bottom: 2px dashed black;
}
/* FINE CREAZIONE COLONNE */

/* CENTRO IL TESTO DENTRO LE COLONNE E LO POSIZIONO */
.center-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-text {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.right-text {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 10px;
}

/* INIZIO SECONDA PARTE ESERCIZIO */

.background {
    background-color: blue;
}
/* CREO CONTAINER PICCOLO */
.container-small{
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    justify-content: center;
}
/* CREO RIGA INTERNA AL CONTAINER */
.row-1 {
    width: 100%;
    margin: 50px 0px 50px 0px;
}
/* CREO COLONNA INTERNA ALLA RIGA */
.col-100 {
    height: 400px;
    background-color: pink;
    border: 2px dashed black;
}
/* FINE PARTE 2 */

/* INIZIO PARTE 3 */

.row-3 {
    width: 100%;
    display: flex;
    margin: 50px 0px;
}

.col-60-3 {
    height: 500px;
    width: 60%;
    background-color: rgb(46, 170, 241);
    border: 2px dashed black;
}

.col-40 {
    height: 500px;
    width: 40%;
    background-color: pink;
    border-top: 2px dashed black;
    border-right: 2px dashed black;;
    border-bottom: 2px dashed black;;
}

/* FINE PARTE 3 */

/*  INIZIO PARTE 4 */