* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(127, 244, 255);
}

/* CREO CONTAINER */
.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
}
/* CREO RIGA */
.row-3 {
    margin: 20px 0px 20px 0px;
    display: flex;
    width: 100%;
    align-items: center;
}
/* CREO COLONNE DENTRO LA RIGA IN QUESTO CASO 3 */
.col-20 {
    width: 20%;
    background-color: rgb(255, 225, 0);
    height: 40px;
}

.col-60 {
    width: 60%;
    height: 40px;
    background-color: rgb(255, 225, 0);
}
/* FINE CREAZIONE COLONNE */

/* CENTRO IL TESTO DENTRO LE COLONNE E LO POSIZIONO */
.center-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-text {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.right-text {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 10px;
}

/* INIZIO SECONDA PARTE ESERCIZIO */

.background-blue {
    background-color: blue;
}
/* CREO CONTAINER PICCOLO */
.container-small{
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    justify-content: center;
}
/* CREO RIGA INTERNA AL CONTAINER */
.row-1-1 {
    width: 100%;
    margin: 50px 0px
}
/* CREO COLONNA INTERNA ALLA RIGA */
.col-100-1 {
    height: 400px;
    background-color: rgb(252, 122, 143);
}
/* FINE PARTE 2 */

/* INIZIO PARTE 3 */

.row-2 {
    width: 100%;
    display: flex;
    margin: 50px 0px;
}

.col-60-3 {
    height: 600px;
    width: 60%;
    background-color: rgb(46, 170, 241);
}

.col-40 {
    height: 600px;
    width: 40%;
    background-color: pink;
}

/* FINE PARTE 3 */

/*  INIZIO PARTE 4 */

.background-gray {
    background-color: rgba(128, 128, 128, 0.34);
}
/* FINE PARTE 4 */

/* INIZIO PARTE 6 */
.col-100-2 {
    height: 900px;
    background-color: rgb(0, 133, 0);
}
/* FINE PARTE 6 */

/* INIZIO PARTE 7 */
.background-dark {
    background-color: rgba(32, 32, 32, 0.726);
}

.row-5 {
    display: flex;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 30px;
}

.col-5-p{
    width: auto;
    flex-grow: 2;
    height: 600px;
    background-color:rgb(222, 91, 113);
}

.col-5-b{
    width: auto;
    flex-grow: 1;
    height: 600px;
    background-color:rgb(46, 170, 241);
}
/* FINE PARTE 7 */

/* INIZIO PARTE 8 */
/* FINE PARTE 8 */



/* UTILITY */
/* BORDERS */
.left-b {
    border-left: 4px dashed black;;
}

.right-b {
    border-right: 4px dashed black;;
}

.top-b {
    border-top: 4px dashed black;
}

.bottom-b {
    border-bottom: 4px dashed black;;
}

.left-b-w {
    border-left: 4px dashed white;
}

.right-b-w {
    border-right: 4px dashed white;;
}

.top-b-w {
    border-top: 4px dashed white;
}

.bottom-b-w {
    border-bottom: 4px dashed white;;
}
/*  */